<div class="myGardenContainer twelve columns">
    <div class="plantsMargin">
        <div class="gardenImage"><div class="blackBox"><p class="gardenHeader">My Garden</p></div></div>
        
        <div class="gardenPlantsContainer" ng-class="{ 'myPlants': checkMyGarden() }" ng-repeat="aPlant in myGarden">
            {{aPlant.plant.name}}
            <div ng-click="removePlant(aPlant._id)">Remove</div>
        </div>
    </div>

    <div class="myGardenContainer" ng-class="{ 'myPlantsMessage': checkMyGarden() }">You have no plants growing right now! Visit our home page to search for plants and add them to your garden.</div>
</div>