<div class="myGardenContainer twelve columns">
    <div class="plantsMargin">
        <div class="gardenImage"><div class="gardenHeader">My Garden</div></div>
        
        <div class="gardenPlantsContainer" ng-class="{ 'myPlants': checkMyGarden() }" ng-repeat="aPlant in myGarden" ui-sref="myPlant({plantId: aPlant._id})">
            <div class="gardenPlantName">
                <div class="gardenPlantNameText">{{aPlant.plant.name}}</div> <br>
                <div class="gardenPlantNameText gardenPlantLatin">{{aPlant.plant.latin}}</div>
                <button class="removeMyGardenPlant" ng-click="removePlant(aPlant._id)">Remove</button>
            </div>
        </div>
    </div>

    <div class="myGardenContainer" ng-class="{ 'myPlantsMessage': checkMyGarden() }">You have no plants growing right now! Visit our home page to search for plants and add them to your garden.</div>
</div>