@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);

body {
  background-color: #eee;
  margin: 0;
}

a, a:link, a:visited, a:hover, a:active {
  color: #434644;
  text-decoration: none;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

nav {
  padding: 5px;
  display: inline-block;
  list-style: none;
  width: 97vw;
  height: 40px;
}

.nav-link {
  display: inline-block;
  //float: left;
  font-size: 20px;
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 5px;
}


.signin {
  display: inline-block;
  float: right;
}

.zones {
  display: inline-block;
}

.mainContainer {
  background-color: #fff;
}

.searchContainer {
  overflow: auto;
  height: 100vh;
}

.searchInputBox {
  width: 100%;
  margin-top: 20px;
}

.searchType {
  margin-left: 5px;
}

.searchInputBox:after {
  content: "";
  display: block;
  width: 85%;
  margin: 20px auto 0;
  border-bottom: 1px solid #bfbfbf;
}

.input {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  color: #434644;
  border-radius: 30px;
  text-align: left;
  border: 1px solid #bfbfbf;
  margin-bottom: 30px;
  -webkit-transition: border-color .5s; /* Safari */
  transition: border-color .5s;
  padding: 5px 5px 5px 10px;
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
}

.input:focus {
  border-color: #000;
  outline: none;
}

.input:placeholder {
  color: #434644
}

.searchTitle {
  font-family: 'Oswald', 'Helvetica', 'Arial', sans-serif;
  text-align: center;
  //align-items:center;
  font-size: 1.5em;
  margin-bottom: 10px;
  display: inline-block;
  margin-top: 10px;
  color: #434644;
  width: 100%;
}

.arrow {
  background-size: cover;
  background: url(../images/down-arrow.png) no-repeat top center;
  width: 17px;
  height: 17px;
  display: inline-block;
  margin-right: 10px;

}

.arrow:hover {
  cursor: pointer;
}

.usesRepeatCont {
  display: inline-block;
}

.usesRepeat {
  display: inline-block;
  border: 1px solid #bfbfbf;
  border-radius: 2px;
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
  font-size: .8em;
  margin: 3px;
  background-color: #f1f1f1;
  padding: 3px 12px 3px 12px;
}

.usesRepeat:hover {
  cursor: pointer;
}

.usesRepeat:after {
  background-color: #80C242;
}

.selectedToSearch {
  //background-color: #31B746;
  background-color: #27AE60;
  color: #fff;
}

.zones {
  display: inline-block;
}

.circle {
  display: inline-block;
  font-size: 2em;
  color: #A5A5A5;
  //text-align: left;
  border: 1px solid #bfbfbf;
  background-color: #fff;
  -webkit-transition: border-color .5s; /* Safari */
  transition: border-color .5s;
  padding: 5px 5px 5px 10px;
  margin-left: 5px;
  margin-bottom: 5px;
  width: 40px;
  height: 40px;
  border-radius: 200px;
  text-align: center;
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
  font-weight: 100;
  // line-height: 75px;
}

.circle:hover {
  border-color: #000;
  -webkit-transition: color .5s; /* Safari */
  transition: color .5s;
  cursor: pointer;
}

.circle:active {
  border-color: #000;
}

.zoneSelectedToSearch {
  border-color: #000;
  background-color: #27AE60;
  color: #fff;
}

// @media screen and (min-width: 600px) {
//     .mainContainer {
//         background-color: #fff;
//         width: 35%;
//         padding-right: 20px;
//         padding-left: 20px;
//     }
//     // .searchInputSpacer {
//     //     width: 70%;
//     //     padding: 30px;
//     //     padding-left: 0px;
//     // }
// }
//
// @media screen and (min-width: 900px) {
//   .mainContainer {
//     background-color: #fff;
//     width: 30%;
//   }
// }
