.myGardenContainer {
    overflow: auto;
    //overflow-y: visible;
}

.gardenImage {
  background: url(../images/farm-house.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 300px;
  margin-top: 50px;
}

.blackBox {
    background-color: #000;
    width: 100%;
    height: 300px;
    opacity: .3;
    margin-top: 50px;
}

.myPlantsMessage {
    display: none;
}

.gardenHeader {
    font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
    font-size: 80px;
    text-align: center;
    vertical-align: center;
    color: #fff;
    opacity: 1;
    margin-top: 50px;
    height: 300px;
}

.gardenPlantsContainer {
    overflow: auto;
}