.myPlantContainer {
    border: 1px solid #bfbfbf;
    background-color: #e5e5e5;
    box-shadow: 0 5px 5px 0 #ccc;
    border-radius: 2px;
    margin-top: 100px;
    width: 70%;
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.myPlantName {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
    font-size: 40px;
    font-weight: 300;  
    text-align: center; 
}

.myPlantLatin {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
    font-size: 23px;
    font-weight: 300;
    margin-bottom: 20px;
}

.myPlantDetails {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.myPlantImageContainer {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.myPlantImage {
    background-color: #000;
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.myPlantEditDetailContainer {
    width: 50%;
    display: inline-block;
    //padding-left: 20px;
}

.editDetailContainer {
    display: block;
}

.editDetail {
    display:inline-block;
    //margin-left: 10px;
    cursor: pointer;
}

.myPlantDetailHeader {
    display: inline-block;
    //margin-left: 10px;
    font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.editDetailInput:hover {
    cursor: pointer;
}

.myPlantDetailValue {
    display: inline-block;
    font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    padding-left: 20px;
}

.myPlantInfo {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}