.resultsContainer {
    overflow: auto;
    height: calc(100vh - 55px);
    float: right;
    margin-top: 55px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.plantsContainer {
    border: 1px solid #bfbfbf;
    margin-right: 30px;
    border-radius: 2px;
    font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
    font-size: .8em;
    background-color: #f9f9f9;
    padding: 3px 12px 3px 12px;
    margin-bottom: 20px;
    margin-top: 20px;
    -webkit-box-shadow: 0 1px 1px 0 #ccc;
    -moz-box-shadow:    0 1px 1px 0 #ccc;
    box-shadow:         0 1px 1px 0 #ccc;
    min-width: 340px;
    min-height: 400px;
    flex-basis: auto;
    position: relative;
    cursor: pointer;
}

.plantsContainer p {
  font-size: 1.3em;
  margin-bottom: 0;
}

.plantsContainer td {
  border: none;
}

.plant-title-container {
  float: left;
}

.plantName {
    font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
    font-size: 2em;
    display: block;
}

.plantLatin {
    font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
    font-size: 1.3em;
    display: block;
    font-style: italic;
}

.results-rating-icon {
  font-size: 3em;
  font-weight: 500;
  color: #bfbfbf;
}

.bandaid-active {
  color: #a6270c;
}

.carrot-active {
  color: #f4a149;
}

#uses-div {
  max-width: 100%;
  word-wrap: break-word;
  word-break:break-all;
}


//MODALS
#overlay {
    position: fixed;
    left: 25%;
    top: 12.5%;
    padding: 25px;
    -webkit-box-shadow: 1px #ccc;
    -moz-box-shadow:    1px #ccc;
    box-shadow:         1px #ccc;
    background-color: #ffffff;
    width: 50%;
    height: 75%;
    z-index: 100;
    overflow: auto;
}
#fade {
    position: fixed;
    left: 0%;
    top: 0%;
    background-color: black;
    -moz-opacity: 0.7;
    opacity: .70;
    filter: alpha(opacity=70);
    width: 100%;
    height: 100%;
    z-index: 90;
}

#custom-modal {
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
}

#custom-modal.ng-enter {
  transition: opacity .5s ease-out;
  opacity: 0;
}
#custom-modal.ng-enter.ng-enter-active {
  opacity: 1;
}
#custom-modal.ng-leave {
  transition: opacity .5s ease-out;
  opacity: 1;
}
#custom-modal.ng-leave.ng-leave-active {
  opacity: 0;
}

#custom-modal table {
  display: inline-table;
}

#custom-modal td {
  border-bottom: none;
}

#custom-modal .clearfix {
  border-bottom: none;
}

.modal-title-container h4 {
  font-size: 3em;
}

.modal-title-container h6 {
  font-size: 1.5em;
  font-style: italic;
}

.modal-img-container {
  float: left;
  height: 300px;
  width: 500px;
  background-color: gray;
  margin-right: 15px;
}

.modal-title-container h4 {
  margin-bottom: 0;
}

.modal-button {
  position: absolute;
  bottom: 0;
}

.modal-close-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 2em;
  color: #434644;
}

.table-head {
  font-weight: bold;
}
